<div class="rig_waze_map">	
	<iframe 
	class="rig_waze_map_frame" src="https://embed.waze.com/iframe?
	zoom={{waze_map_zoom}}&
	lat={{waze_map_latitude}}&
	lon={{waze_map_longtitude}}&
	ct=livemap"
	width="600"
    height="400">
	</iframe>
	</div>