<form action="/" method="get">
<div class="flex items-center rig-search">
    <div class="flex border-2 border-gray-200 rounded w-full">
        <input type="text" name="s" class="px-4 py-2 w-full rig-search-input" placeholder="{{search_placeholder}}" 
        value="{{function('the_search_query')}}">
        <button type="submit" class="px-4 text-white bg-gray-600 border-l rig-search-button">
            Search
        </button>
    </div>
</div>
</form>