<form action="/" method="get">
<div class="flex items-center rig-search">
        <input type="text" name="s" class="px-4 py-2 w-full border-2 border-gray-200 rounded rig-search-input" placeholder="{{search_placeholder}}" 
        value="{{function('the_search_query')}}">
</div>
</form>