<div class="container flex mx-auto rig-search">
    <div class="flex border-2 rounded w-full">
        <button class="flex items-center justify-center px-4 border-r rig-search-icon-button"><i class="{{search_icon.value}} rig-search-icon"></i></button>
        <input type="text" name="s" class="px-4 py-2 w-full rig-search-input" placeholder="{{search_placeholder}}">
    </div>
</div>